.tópicos{
background: var(--azul-degrade);
text-align: center;

}


.tópicos-Titulo{
color: var(--branco);
font-weight: 300;


}

.tópicos-item{
margin: 2em 0.5em;




}


.tópicos-lista{
display:flex;
flex-wrap: wrap;
justify-content: center;



}

.tópicos-link{
color: var(--branco);
padding: 1em;
background-color: var(--laranja);
text-decoration: none;

}